@import url(http://brick.a.ssl.fastly.net/Noto+Serif:400,400i,700);
@import url(http://brick.a.ssl.fastly.net/Andada:700,700i);
body {
  background: white;
  max-width: 95%;
  margin: auto 15%; }

.dapper {
  font-family: "Noto Serif", Helvetica, sans-serif;
  color: black;
  font-size: 12pt;
  line-height: 150%; }
  .dapper h1, .dapper h2 {
    line-height: 150%;
    text-align: center;
    font-family: "Andada", Helvetica, sans-serif;
    font-weight: 700; }
  .dapper h1 {
    margin: 5% 0 1% 0;
    font-size: 2em; }
  .dapper h2 {
    margin: 0 0 3% 0;
    font-size: 1.6em;
    font-style: italic; }
  .dapper blockquote {
    line-height: 155%;
    margin: 3%;
    border-radius: 0.3%;
    padding: 3%;
    background: #333333;
    color: white; }
    .dapper blockquote .author {
      font-weight: 700; }
  .dapper strong {
    font-weight: 700; }
  .dapper em {
    font-weight: 400; }
  .dapper footer {
    margin: 5% 0 5%; }
    .dapper footer ul {
      list-style-type: none;
      padding: 0; }
      .dapper footer ul li a {
        color: inherit;
        text-decoration: none; }
        .dapper footer ul li a:hover {
          text-decoration: underline; }
      .dapper footer ul li .fa {
        margin: 1%; }
